<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dahee Goo</title>
</head>
<body>
    <section id="profile">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReR_9YsLwR4igbDDCD9y-dVAIXQWW-vh2rFg&usqp=CAU">
            <h3>구다희</h3>
            <p>
                안녕하세요. 국민대학교 소프트웨어학과 3학년에 재학중인 말하는 감자 구다희입니다. 과제가 너무 많습니다. 살려주세요...
            </p>
        </div>
    </section>

    <hr>

    <section id="languages">
        <div>
            # 사용할 줄 아는 언어
            <ul>
                <li>Python</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>HTML</li>
                <li>등등이 있습니다.</li>
            </ul>
        </div>
    </section>

    <section id="contact">
        <div>
            # Contact
            <ul>
                <li><a href="https://github.com/dadahee/">Github</a></li>
                <li><a href="mailto:heeouo@kookmin.ac.kr">Mail</a></li>
            </ul>
        </div>
    </section>

</body>
</html>